body
{
	width: 100%;
	margin: 0;
	font-family: sans-serif;
	background-image: url("../img/body-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
header
{
	background-color: black; 
	width: 100%;
	height: 50px;
	padding: 10px;
	margin: 0;

}
header img
{
	float: left;
	position: relative;

}
header input
{
	float: right;
}
a
{
	text-decoration: none;
	color: black;
}
.wrapper
{
	max-width: 1200px;
	min-width: 640px;
	margin: auto;
	position: relative;
	height: inherit;
	text-align: center;
}
.main
{

	position: relative; 
	width: 100%;
	padding: 1px;
}
.notifications
{
	width: 100%;
	height: 30px;
	background-color:#C0C0C0;
	margin-top:10px;
	padding-left: 0; 
}
.nav ul
{
	padding: 0;
}
.nav-box
{
	display: inline-block;
	background-color: black;
	height: 150px;
	width: 30%;
	color: white;
	text-align: center;
	font-family: sans-serif;
	vertical-align: top;
	list-style:none;
	background-repeat: no-repeat;
	background-position: 50% 70px;
	position: relative;

}
.nav-box:first-child
{
	float: left;
	background-image: url("../img/icons/action-report-new.png");
}
.nav-box:nth-child(2)
{
background-image: url("../img/icons/action-report-top.png");
}
.nav-box:last-child
{
	float: right;
	background-image: url("../img/icons/actions-help.png");
}
.nav p
{
	margin-top: 20px;
}
.drop-down
{
	display: none;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    text-align: left;

	
}
.drop-down li
{
	border-bottom: solid  #C0C0C0 1px ;
	display: block;
	padding: 10px;
}
.choose
{
	background-color: #C0C0C0;
	height: 20%;
	width: 100%;
	color: black;
	position: absolute;
	bottom: 0;


	
}
.choose p
{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 14px;
}
.choose:hover .drop-down
{
	display: block;
}
.arrow-down
{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin-top: 10px;
	margin-right: 10px;
}
.my-tabs ul
{
	 display: flex;
    justify-content: space-between;
	padding: 0;
	margin-bottom: 0;
}
.active-tab 
{
	background-color: #F0F0F0 !important;
  color:black !important;
}
.my-tabs li
{
    list-style:none;
  width:20%;
}
.tab
{
	width: 100%;
	background-color:#888888;
	height: 50px;
	display: inline-block;
  text-decoration:none;
  color:white;
}
.tab a
{
	vertical-align: middle;
	color: inherit;
}
.container
{
		width:100%;
		height: 450px;
		background-color: #F0F0F0;
		padding: 1px;
		display: block;
}
.menu
{
	position: relative;
	height: 10%
}
.fill-in
{
 background-color: white; 
 position: relative;
 width: 80%;
 height: 200px;
 margin: auto;

}
.fill-in .lable
{
	float: left;
}
.fill-in span
{
	float: left;
}
#quick-reports ul
{
	padding: 0;
	position: relative;
}
#quick-reports li
{
	background-color: 	rgb(230, 230, 230);
	width: 100%;
	height: 30px;
	list-style: none;
	margin-top: 10px;
	padding-top: 10px;
	display: block;
	margin-top: 1.5%;
}
#quick-reports li form
{
	display: inline;
}
#quick-reports button
{

}
.hidden
{
	display: none;
}
.select-url
{
	float: left;
	margin:10px;
	width: 200px;
	height: 20px;
}
.btn
{
	float: right;
	margin:10px;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30px;
	height: 30px;
}
#quickreports-settings
{
	background-image: url("../img/icons/settings.png");
}
#expand-btn
{
	background-image: url("../img/icons/expand.png");
}
#reports
{
	height: 100%;
}
.site-reference
{
	width: 100%;
	height: 100%;
}